<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%-5level %l %n\t%d{HH:mm:ss.SSS}-->%msg%n" />
		</Console>
		<RollingFile name="RollingFile" fileName="logs/huhuiyu.log"
			filePattern="log/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout pattern="%-5level %l %n\t%d{HH:mm:ss.SSS}-->%msg%n" />
			<SizeBasedTriggeringPolicy size="50MB" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="cn.huhuiyu.temp" level="DEBUG" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Logger>

		<Root level="INFO">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>